@mixin button(
    $backgroundColor: #999,
    $color: white,
    $hoverBackgroundColor: null,
    $hoverColor: null,
    $padding: 10px 20px, // fontSize,
    $fontSize: inherit,
    $fontStack: inherit,
    $textTransform: null
) {
    &:hover {
        // background
        @if $hoverBackgroundColor {
            background-color: $hoverBackgroundColor;
        }
        @if not $hoverBackgroundColor {
            background-color: darken($backgroundColor, 20%);
        }
        // color
        @if $hoverColor {
            color: $hoverColor;
        }
    }

    @if $textTransform {
        text-transform: $textTransform;
    }
    cursor: pointer;
    font-family: $fontStack;
    font-size: $fontSize;
    color: $color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    padding: $padding;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    svg {
        display: block;
        width: 20px;
        height: 20px;
    }
}
