html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

audio,
canvas,
iframe,
img,
svg,
video {
    // we mostly want to display them as block level elements anyway, right? We don't want any nasty spacing issues.
    display: block;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

iframe {
    border: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    width: 100%;
}

option {
    font: inherit;
}

textarea {
    resize: vertical;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
}

main {
    ul,
    ol {
        padding-left: 1em;

        li::before {
            display: inline-block;
            margin-left: -1em;
            margin-right: .5em;
            color: currentColor;
        }
    }
    ul {
        > li::before {
            content: "•";
        }
    }

    ol {
        counter-reset: li;
        > li::before {
            counter-increment: li;
            content: counter(li);
        }
    }
}
