@import "../../scss/base";
@import "../../scss/button";
@import "../../scss/lists";
@import "../../scss/container";
html {
    font-family: sans-serif;
}

body {
    padding: 20px;
}

.buttons {
    padding: 20px;
    .row {
        margin-bottom: 20px;
    }
}

h1 {
    margin-bottom: 20px;
}

.button {
    @include button();
}

.button2 {
    $stack: Montserrat, sans-serif;

    @include button(
        $backgroundColor: green,
        $color: white,
        $hoverBackgroundColor: orange,
        $hoverColor: black,
        $padding: 10px 20px,
        $fontSize: 28px,
        $fontStack: $stack,
        $textTransform: uppercase
    );
}

// Breakpoints tests
.breakpoints {
    background-color: yellow; // Mobile

    @include for-tablet-portrait-up {
        background-color: orange;
    }

    @include for-tablet-landscape-up {
        background-color: orangered;
    }

    @include for-desktop-up {
        background-color: red;
    }

    @include for-medium-desktop-up {
        background-color: purple;
    }

    @include for-big-desktop-up {
        background-color: blue;
    }
}

// Lists test

.lists {
    @include lists();

    @include lists(
        $marginLeft: 30,
        $marginBottom: 20px
    );
}

.container-row {

    @include containerRow($columns: 12, $maxWidth: 1400px);
    .column {
        background: palegoldenrod;
        @include containerColumn($columns: 12);
    }
    .breakout {
        background: palegreen;
        @include containerColumnBreakoutLeft($columns: 12);
    }
    .rest {
        background: green;
        @include containerColumnRight($columns: 12);
    }

    .breakout-right {
        background: paleturquoise;
        @include containerColumnBreakoutRight($columns: 12);
    }

    .rest-left {
        background: palevioletred;
        @include containerColumnLeft($columns: 12);
    }
}
